# Pewlett Hackard Data Exploration
---

In [1]:
import pandas as pd

## Load Data

In [2]:
emp_df = pd.read_csv('data/employees.csv')
ttl_df = pd.read_csv('data/titles.csv')
slry_df = pd.read_csv('data/salaries.csv')
dept_df = pd.read_csv('data/departments.csv')
dept_emp_df = pd.read_csv('data/dept_emp.csv')
dept_mng_df = pd.read_csv('data/dept_manager.csv')

## Examine Data

#### 1 employees.csv | check last entry

In [3]:
emp_df.tail(1)

        emp_no emp_title_id birth_date first_name  last_name sex   hire_date
300023  464503        s0002  5/31/1964     Arvind  Slobodova   M  11/23/1987

#### 1 employees.csv | check largest values of each entry and unique values where relevant

In [32]:
print(f'emp_no max: {emp_df.emp_no.astype(int).max()}')

emp_no max: 499999

In [34]:
print(f'title_id max strlen: {emp_df.emp_title_id.str.len().max()} {emp_df.emp_title_id.unique()}')

title_id max strlen: 5 ['s0001' 'e0002' 'e0003' 's0002' 'e0004' 'e0001' 'm0001']

In [35]:
print(f'dob max strlen: {emp_df.birth_date.str.len().max()}')

dob max strlen: 10

In [36]:
print(f'first_name max strlen: {emp_df.first_name.str.len().max()}')

first_name max strlen: 14

In [37]:
print(f'last_name max strlen: {emp_df.last_name.str.len().max()}')

last_name max strlen: 16

In [38]:
print(f'sex max strlen: {emp_df.sex.str.len().max()} {emp_df.sex.unique()}')

sex max strlen: 1 ['M' 'F']

#### 2 titles.csv | check last entry

In [45]:
ttl_df.tail(1)

  title_id    title
6    m0001  Manager

#### 2 titles.csv | check max string length and unique values where relevant

In [46]:
print(f'title_id max strlen: {ttl_df.title_id.str.len().max()}')
print(f'title_id unique: {ttl_df.title_id.nunique()} {ttl_df.title_id.unique()}')

title_id max strlen: 5
title_id unique: 7 ['s0001' 's0002' 'e0001' 'e0002' 'e0003' 'e0004' 'm0001']

In [48]:
print(f'title max strlen: {ttl_df.title.str.len().max()}')
print(f'title unique: {ttl_df.title.nunique()}')

title max strlen: 18
title unique: 7

#### 3 salaries.csv | check last entry

In [45]:
slry_df.tail(1)

        emp_no  salary
300023  499999   63707

#### 3 salaries.csv | check max values

In [49]:
print(f'salary max: {slry_df.salary.astype(int).max()}')

salary max: 129492

#### 4 departments.csv | check last entry

In [11]:
dept_df.tail(1)

  dept_no         dept_name
8    d009  Customer Service

#### departments.csv | check max string length and unique values where relevant

In [52]:
print(f'dept_no max strlen: {dept_df.dept_no.str.len().max()}')
print(f'dept_no unique: {dept_df.dept_no.nunique()} {dept_df.dept_no.unique()}')

dept_no max strlen: 4
dept_no unique: 9 ['d001' 'd002' 'd003' 'd004' 'd005' 'd006' 'd007' 'd008' 'd009']

In [53]:
print(f'dept_name max strlen: {dept_df.dept_name.str.len().max()}')
print(f'dept_name unique: {dept_df.dept_name.nunique()}')

dept_name max strlen: 18
dept_name unique: 9

#### 5 dept_emp.csv | check last entry

In [30]:
dept_emp_df.tail(1)

        emp_no dept_no
331602  499999    d004

#### 5 dept_manager.csv | check last entry

In [33]:
dept_mng_df.tail(1)

   dept_no  emp_no
23    d009  111939