# Pewlett Hackard Data Exploration
---

In [1]:
import pandas as pd

## Load Data

In [32]:
emp_df = pd.read_csv('data/employees.csv')
ttl_df = pd.read_csv('data/titles.csv')
slry_df = pd.read_csv('data/salaries.csv')
dept_df = pd.read_csv('data/departments.csv')
dept_emp_df = pd.read_csv('data/dept_emp.csv')
dept_mng_df = pd.read_csv('data/dept_manager.csv')

## Examine Data

In [21]:
emp_df.tail(1)

        emp_no emp_title_id birth_date first_name  last_name sex   hire_date
300023  464503        s0002  5/31/1964     Arvind  Slobodova   M  11/23/1987

In [44]:
emp_df.emp_no.astype(int).max()

499999

In [16]:
emp_df.emp_title_id.unique()

array(['s0001', 'e0002', 'e0003', 's0002', 'e0004', 'e0001', 'm0001'],
      dtype=object)

In [20]:
emp_df.birth_date.str.len().max()

10

In [17]:
emp_df.first_name.str.len().max()

14

In [18]:
emp_df.last_name.str.len().max()

16

In [19]:
emp_df.sex.unique()

array(['M', 'F'], dtype=object)

In [23]:
ttl_df.tail(1)

  title_id    title
6    m0001  Manager

In [25]:
ttl_df.title.str.len().max()

18

In [28]:
dept_df.tail(1)

  dept_no         dept_name
8    d009  Customer Service

In [34]:
dept_df.dept_no.str.len().max()

4

In [29]:
dept_df.dept_name.str.len().max()

18

In [30]:
dept_emp_df.tail(1)

        emp_no dept_no
331602  499999    d004

In [33]:
dept_mng_df.tail(1)

   dept_no  emp_no
23    d009  111939